// Defaults
@use './base/basic-reset';
@use './base/defaults';

// Fonts
@use './fonts/fonts';

// Utilities
@use './utils/variables';
@use './utils/animations';
@use './utils/mixins';

// Common styles
@use './common';

// Components
@use './components/buttons';
@use './components/back-to-top';
@use './components/spinner';
@use './components/color-scheme-switcher';
@use './components/pagination';

// Layout
// Header
@use './layout/header';
@use './layout/authorization-form';
@use './layout/burger-menu';

// Sidebar
@use './layout/categories-menu';

// Content part
@use './layout/bestsellers';
@use './layout/home-content';
@use './layout/shopping-list-content';

// Modal
@use './layout/modal';

// Color schemes
@use './color-schemes/light';
@use './color-schemes/dark';
