@import url('./normalize.css');
@import url('./all-categories.css');
@import url('./container.css');
/* @import url('./header.css'); */
@import url('./header2.css');
@import url('./main-page.css');
@import url('./modal.css');
@import url('./sign-up.css');

:root {
  --black: #111111;
  --black1: #202024;
  --violet: #4f2ee8;
  --accent: #2563eb;
  --yellow: #eac645;
  --brown: #bea69e;
  --white: #ffffff;
  --white05opacity: rgba(255, 255, 255, 0.5);
  --dmsans: 'DM Sans', sans-serif;
  --linear-gradiant: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --page-bg: #f6f7fb;
  --text: #0f172a;
  --header-h: 64px;
}
/* Reset css */
html {
  box-sizing: border-box;
  font-family: var(--dmsans);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--page-bg);
  color: var(--text);
  padding-top: var(--header-h, 64px);
}

.sidebar {
  display: block;
}

@media screen and (min-width: 1440px) {
  .sidebar {
    float: left;
    width: 356px;
    margin-right: 40px;
  }

  main::after {
    content: '';
    display: block;
    clear: both;
  }
}
